html, body { height: 100%; margin: 0px; padding: 0px; overflow: hidden; background-color: #FFFFFF; }
body { font-family: Verdana, Arial, Helvetica, sans-serif; position: relative; color: #222222; }

#contentwrap { height: 100%; overflow: auto; }
#contentwrap .proptitlewrap { background-color: #222222; color: #FAFAFA; padding: 0.85em; box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.15); }
#contentwrap .proptitle { max-width: 800px; margin-left: auto; margin-right: auto; font-weight: bold; font-size: 1.3em; }
#contentwrap #navbutton { vertical-align: middle; display: none; padding: 0.23em 0; border: 1px solid #CCCCCC; border-radius: 5px; cursor: pointer; }
#contentwrap #navbutton .navbuttonline { display: block; margin: 0.23em 0.4em; width: 1.0em; height: 2px; background-color: #FAFAFA; border-radius: 2px; }
#contentwrap #navbutton:hover { color: #FFFFFF; border: 1px solid #E0E0E0; background-color: #2A2A2A; }
#contentwrap #navbutton:hover .navbuttonline { background-color: #FFFFFF; }

#contentwrap .propmessagewrap { border-top: 1px solid transparent; border-bottom: 1px solid transparent; padding: 0.5em 1.0em; box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.15); }
#contentwrap .propmessage { max-width: 800px; margin-left: auto; margin-right: auto; }
#contentwrap .propmessagesuccess { border-color: #B2DBA1; background-color: #DFF0D8; background-repeat: repeat-x; color: #3C763D; }
#contentwrap .propmessageerror { border-color: #DCA7A7; background-color: #F2DEDE; background-repeat: repeat-x; color: #A94442; }
#contentwrap .propmessageinfo { border-color: #9ACFEA; background-color: #D9EDF7; background-repeat: repeat-x; color: #31708F; }

#contentwrap .propdescwrap { padding: 1.0em 1.0em 0; }
#contentwrap .propdesc { max-width: 800px; margin-left: auto; margin-right: auto; }
#contentwrap .propmainwrap { padding: 1.0em; }
#contentwrap .propmain { max-width: 800px; margin-left: auto; margin-right: auto; }

#contentwrap a { color: #4E88C2; text-decoration: none; }
#contentwrap a:hover { color: #297ACC; text-decoration: underline; }
#contentwrap .formitem { margin-top: 1.0em; }
#contentwrap .formitem:first-child { margin-top: 0; }

#contentwrap .formitemtitle { margin-bottom: 0.2em; font-weight: bold; }

#contentwrap .formitemdata { position: relative; }

#contentwrap .formitemdata table { border-collapse: collapse; }
#contentwrap .formitemdata table thead th, #contentwrap .formitemdata table tbody td { padding: 0.3em 0.5em; border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; vertical-align: top; }
#contentwrap .formitemdata table thead th { background-color: #222222; color: #FAFAFA; font-weight: normal; }
#contentwrap .formitemdata table thead th:first-child { border-left: 1px solid #222222; }
#contentwrap .formitemdata table thead th:last-child { border-right: 1px solid #222222; }
#contentwrap .formitemdata table tbody tr:first-child td { border-top: none; }
#contentwrap .formitemdata table tbody tr:nth-child(even) { background-color: #F6F6F6; }
#contentwrap .formitemdata table tbody tr:last-child { border-bottom: 1px solid #CCCCCC; }
#contentwrap .formitemdata table tbody td.nowrap { white-space: nowrap; }

#contentwrap .formitemdata input.text { box-sizing: border-box; width: 100%; font-size: 0.9em; padding: 0.3em; border: 1px solid #BBBBBB; }
#contentwrap .formitemdata input.text:focus, #contentwrap .formitemdata input.text:hover { border: 1px solid #888888; }

#contentwrap .formitemdata textarea { box-sizing: border-box; width: 100%; font-size: 0.9em; padding: 0.3em; border: 1px solid #BBBBBB; }
#contentwrap .formitemdata textarea:focus, #contentwrap .formitemdata textarea:hover { border: 1px solid #888888; }

#contentwrap .formitemdata select { box-sizing: border-box; width: 100%; font-size: 0.9em; padding: 0.3em; border: 1px solid #BBBBBB; }
#contentwrap .formitemdata select:focus, #contentwrap .formitemdata select:hover { border: 1px solid #888888; }

#contentwrap .formitemdata .radioitemwrap, #contentwrap .formitemdata .checkboxitemwrap { margin-left: 1.7em; text-indent: -1.7em; }

#contentwrap .formitemdata .staticwrap { font-size: 0.9em; }

#contentwrap .fieldtablewrap { margin-top: 1.0em; }
#contentwrap .fieldtablewrap table { border-collapse: collapse; width: 100%; }
#contentwrap .fieldtablewrap table tbody td { padding: 1.0em 1.0em 0 0; vertical-align: top; }
#contentwrap .fieldtablewrap table tbody tr:first-child td { padding-top: 0; }
#contentwrap .formfieldsresponsive .fieldtablewrap table tbody td:nth-last-child(2) { padding-right: 0; }
#contentwrap .fieldtablewrap table tbody td:last-child { padding-right: 0; }
#contentwrap .fieldtablewrap .formitemtitle { white-space: nowrap; }

#contentwrap hr { margin: 1.0em 0 0 0; border: none; border-top: 1px solid #CCCCCC; }

#contentwrap .formitemdesc { color: #333333; margin-top: 0.1em; margin-left: 0.5em; font-size: 0.9em; }

#contentwrap .formitemresult { margin-left: 0.5em; font-size: 0.9em; }
#contentwrap .formitemresult .formitemerror { background: url('flex_forms_error.png') 0 0.1em no-repeat; padding-left: 25px; color: #A94442; font-weight: bold; }

#contentwrap form .formsubmit { margin-top: 1.2em; margin-right: 1.0em; }
#contentwrap form .formsubmit input { padding: 0.3em 1.0em; font-weight: bold; font-size: 1.0em; background-color: #222222; color: #FAFAFA; border: 1px solid #222222; }
#contentwrap form .formsubmit input:hover { background-color: #444444; color :#FFFFFF; }

@media (max-width: 420px) {
	#contentwrap .fieldtablewrap { margin-top: 0; }
	#contentwrap .fieldtablewrap table { display: block; }
	#contentwrap .fieldtablewrap table tbody { display: block; }
	#contentwrap .fieldtablewrap table tbody tr { display: block; }
	#contentwrap .fieldtablewrap table tbody td { display: block; padding: 0; margin-top: 1.0em; max-width: 100%; }
	#contentwrap .formfieldsresponsive .fieldtablewrap table td:last-child { display: none; }
}


/* FlexForms Extras styles for Admin Pack */

#contentwrap .formaccordionwrap.ui-accordion h3.ui-accordion-header { margin-top: 1.0em; border: 1px solid #CCCCCC; background: #F6F6F6; font-weight: bold; color: #222222; }
#contentwrap .formaccordionwrap.ui-accordion:first-child h3.ui-accordion-header:first-child { margin-top: 0; }
#contentwrap .formaccordionwrap.ui-accordion h3.ui-accordion-header.ui-state-hover { border: 1px solid #C5C5C5; background: #F0F0F0; font-weight: bold; color: #222222; }
#contentwrap .formaccordionwrap.ui-accordion h3.ui-accordion-header .ui-icon { background-image: url("jquery_ui_themes/adminpack/images/ui-icons_333333_256x240.png"); }
#contentwrap .formaccordionwrap.ui-accordion h3.ui-accordion-header.ui-state-active { border: 1px solid #444444; background: #222222; font-weight: bold; color: #ffffff; }
#contentwrap .formaccordionwrap.ui-accordion h3.ui-accordion-header.ui-state-active .ui-icon { background-image: url("jquery_ui_themes/adminpack/images/ui-icons_fafafa_256x240.png"); }
#contentwrap .formaccordionwrap.ui-accordion h3.ui-accordion-header.ui-state-active.ui-state-hover { border: 1px solid #444444; background: #333333; font-weight: bold; color: #ffffff; }

#contentwrap .formaccordionwrap.ui-accordion .ui-helper-reset { line-height: normal; }
#contentwrap .formaccordionwrap.ui-accordion .formaccordionitems.ui-accordion-content { padding: 0 1.5em 1.0em; }
#contentwrap .formaccordionwrap.ui-accordion .formaccordionitems.ui-accordion-content > .formitem:first-child { margin-top: 1.0em; }

#contentwrap .formitemdata input.date { box-sizing: border-box; width: 100%; font-size: 0.9em; padding: 0.3em; border: 1px solid #BBBBBB; }
#contentwrap .formitemdata input.date:focus, #contentwrap .formitemdata input.date:hover { border: 1px solid #888888; }

.ui-state-default.ui-state-highlight, .ui-widget-content .ui-state-default.ui-state-highlight { border: 1px solid #c5c5c5; background: #f6f6f6; color: #454545; }
.ui-state-active.ui-state-highlight, .ui-widget-content .ui-state-active.ui-state-highlight { border: 1px solid #444444; background: #222222; color: #ffffff; }
.ui-state-hover.ui-state-highlight, .ui-widget-content .ui-state-hover.ui-state-highlight { border: 1px solid #444444; background: #333333; color: #ffffff; }

#contentwrap .formitemdata .uix-multiselect .ui-widget-header div.header-text { white-space: normal; }
#contentwrap .formitemdata .uix-multiselect .ui-widget-header { padding-top: 0.3em; padding-bottom: 0.3em; }
#contentwrap .formitemdata .uix-multiselect .ui-widget-header .uix-control-right { padding-top: 0.8em; }

#contentwrap .formitemdata .ui-multiselect { padding: 0.3em; }
#contentwrap .formitemdata .ui-multiselect.ui-widget.ui-state-default { border: 1px solid #444444; background: #333333; color: #ffffff; }
#contentwrap .formitemdata .ui-multiselect.ui-widget.ui-state-default span.ui-icon { background-image: url("jquery_ui_themes/adminpack/images/ui-icons_ffffff_256x240.png"); }
#contentwrap .formitemdata .ui-multiselect.ui-widget.ui-state-active { border: 1px solid #444444; background: #222222; color: #ffffff; }
#contentwrap .formitemdata .ui-multiselect.ui-widget.ui-state-hover { border: 1px solid #444444; background: #222222; color: #ffffff; }
#contentwrap .formitemdata .ui-multiselect span.ui-icon { margin-top: 0.2em; }

#contentwrap .formitemdata .select2-container { display: block; }
#contentwrap .formitemdata .select2-container-multi .select2-choices .select2-search-choice { line-height: 17px; }
#contentwrap .formitemdata .select2-search-choice-close { top: 5px; }
.select2-results .select2-highlighted { background-color: #444444 !important; }

#contentwrap .formitemdata .draghandle { cursor: move; }
#contentwrap .formitemdata table tbody tr.dragactive { background-color: #E3E3E3; }

#contentwrap .formitemdata table.tablecards thead th:nth-last-child(2) { border-right: 1px solid #222222; }
#contentwrap .formitemdata table.tablecards.tablecard-show thead th:nth-last-child(2) { border-right: 1px solid #CCCCCC; }
#contentwrap .formitemdata table.tablecard-show { width: 100%; }
#contentwrap .formitemdata table.tablecard-show-nohead tbody tr:first-child td { border-top: 1px solid #CCCCCC; }

#contentwrap .formitemdata .tablebodyscroll-scroller3 > table.tablecard-show-nohead > thead > tr { display: none; }

#contentwrap .formitemdata .tablebodyscroll-shadow-top .tablebodyscroll-scroller-shadow-top, #contentwrap .formitemdata .tablebodyscroll-shadow-both .tablebodyscroll-scroller-shadow-top { border-top: 1px solid #CCCCCC; }


/* FlexForms Modules styles for Admin Pack */

#contentwrap .formitemdata table.tablecard-show .calendar_day_of_week { margin-top: 0.5em; border-top: 1px solid #E0E0E0; padding-top: 0.5em; font-weight: bold; }
#contentwrap .formitemdata table.tablecard-show .calendar_day_of_week:first-child { margin-top: 0; border-top: none; padding-top: 0; }

#contentwrap .formitemdata .tablefiltersearchwrap { margin-bottom: 0.5em; }
#contentwrap .formitemdata table.ff_tablefilter tbody tr.visible { background-color: #FFFFFF; }
#contentwrap .formitemdata table.ff_tablefilter tbody tr.visible.altrow { background-color: #F6F6F6; }
#contentwrap .formitemdata table.ff_tablefilter tbody tr.visible.lastrow { border-bottom: 1px solid #CCCCCC; }
